*, ::after, ::before {
	box-sizing: border-box;
}

.text-decoration-none {
	text-decoration: none;
}

html {
	overflow-x: hidden;
	overflow-y: scroll;
}

nav.MainMenu * {
	margin: 0;
	padding: 0;
}

nav.MainMenu ul, nav.MainMenu ol {
	list-style: none;
}

nav.MainMenu ul {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	background: #2a2727;
	border-bottom: 1px solid hsla(0, 0%, 100%, .15);
	box-shadow: 0px 2px 0px 0px rgba(3, 3, 3, 0.1);
}

nav.MainMenu ul, li {
	position: relative;
}

nav.MainMenu ul li a {
	display: block;
	font-size: 22px;
	text-decoration: none;
	color: #fff;
	padding: 20px 20px;
}

nav.MainMenu ul li a:hover {
	color: #E70C2F;
	transition: 0.3s ease;
}

nav.MainMenu li ul {
	position: absolute;
	width: 200px;
	display: none;
	z-index: 3;
	padding: 0px;
	color: #E3DDDC;
}

nav.MainMenu li ul li {
	background: #2a2727;
	width: 300px;
}

nav.MainMenu li ul li a {
	padding: 10px;
	text-transform: none;
}

nav.MainMenu li ul li ul {
	position: absolute;
	right: -250px;
	top: 0;
}

nav.MainMenu li:hover>ul {
	display: block;
}

.logout {
	font-size: 20px;
	background: #2a2727;
	color: #fff;
	border: none;
	cursor: pointer;
	width: 100%;
}

.flex {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}

.mybody {
	margin: 0;
	color: #fff;
	background: #201e1e;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 16px;
}

a {
	font-family: sans-serif;
}

.noselect {
	user-select: none;
}

.bg-container-color{
	background: #2a2727;
}
.bg-border{
    border: 1px solid hsla(0, 0%, 100%, .15);
}


textarea {
	color: rgba(255, 255, 255, .5);
	background: #2a2727;
	border: 1px solid hsla(0, 0%, 100%, .15);
}

textarea:focus {
	color: rgba(255, 255, 255, .5);
	background: #2a2727;
	border: 1px solid hsla(0, 0%, 100%, .15);
}

.wrapperHelp {
	background: #2a2727;
	width: 70%;
	padding: 12px;
	padding-bottom: 0px;
	border: 1px solid hsla(0, 0%, 100%, .15);
	border-radius: 2px;
}

.titleHelp {
	font-size: 18px;
	font-weight: bold;
	color: #e6b333;
}

.answer {
	margin: 12px;
	text-align: justify;
	font-size: 14px;
}

.wrapperMainPage {
	width: 72%;
	margin: auto;
	padding: auto;
	padding: 30px 30px 0px 30px;
	background-color: #2a2727;
	display: -webkit-flex;
	flex-wrap: wrap;
	align-items: flex-start;
	border: 1px solid hsla(0, 0%, 100%, .15);
	border-radius: 2px;
}

.poster_fm {
	display: block;
	width: 230px;
	margin-right: 30px;
	margin-bottom: 30px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 20px;
	transform: scale(1);
	transition: all 1s ease;
}

.poster_fm span {
	white-space: break-spaces;
}

.poster_fm img {
	width: 230px;
	height: 340px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.poster_fm a{
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	transform: scale(1);
	transition: all 1s ease;
}



.poster_fm:hover {
	color: #E70C2F;
	text-decoration: none;
	transform: scale(1.05);
	transition: all 1s ease;
}

.poster_fm a:hover {
	color: #E70C2F;
	text-decoration: none;
	transform: scale(1.05);
	transition: all 1s ease;
}



.wrapperMoviePage {
	float: left;
	width: 65%;
	padding: 50px;
	margin-left: 150px;
	background-color: #2a2727;
	border: 1px solid hsla(0, 0%, 100%, .15);
	border-radius: 6px 6px 0px 0px;
}



.MoviePhoto img {
	width: 260px;
	height: 370px;
	border-radius: 5px;
	transform: scale(1);
	transition: all 1s ease;
}

.MoviePhoto img:hover {
	color: #E70C2F;
	text-decoration: none;
	transform: scale(1.05);
	transition: all 1s ease;
}

.MovieInformation {
	width: 100%;
}

.MovieTitle {
	font-size: 30px;
	color: #fff;
}

.column {
	margin-top: 15px;
	width: 100%;
	font-size: 18px;
}

.key {
	float: left;
	width: 20%;
}

.val {
	color: rgba(255, 255, 255, .5);
	width: 100%;
}

.SeanceTitle {
	padding: 10px 10px;
	font-size: 30px;
	margin-bottom: 0px;
	border-bottom: 1px solid hsla(0, 0%, 100%, .15);
}

.font-size-18 {
	font-size: 18px;
}

.seance-wrapper {
	border-bottom: 1px solid hsla(0, 0%, 100%, .15);
}

.weekday {
	padding: 10px;
	font-size: 18px;
}

.seance-text-color {
	color: rgba(255, 255, 255, .5);
}

.commets-title {
	border-bottom: 1px solid hsla(0, 0%, 100%, .15);
}

.user-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

.comment-input-field{
	width:100%;
	border-top: none;
    border-left: none;
    border-right:none;
}


textarea:focus {
    border-top: none;
    border-left: none;
    border-right:none;
    border-bottom:1px solid white;
    overflow: auto;
    outline: none;
}


.screen-title{

  font-weight: bold;
  font-size:24px;
}

.screen-seance-page{
margin:auto;
  width:80%;
  height: 10px;
  border-bottom:2px solid #fff;
  border-right:2px solid #fff;
  border-left:2px solid #fff;
  border-radius:0px 0px 20px 20px;
  margin-bottom:30px;
}

.place-btn{
	width:30px;
	height:30px;
}

.lux_btn {
	width:30px;
	height:30px;
    border:none;
    background-color: #dc3545;
}
.default_btn {
	width:30px;
	height:30px;
    border:none;
    background-color: #0d6efd;
}

.taken_btn {
	width:30px;
	height:30px;
    border:none;
    background-color: #6c757d;
}

.pick_btn {
	width:30px;
	height:30px;
    border:none;
    background-color: #198754;
}

.ticket-places{
  width:100%;
  height:70px;
  border-bottom:1px solid hsla(0,0%,100%,.15);
  background: #403b3b;
  font-size:20px;
  line-height:70px;
}

.border-bottom{
	border-top: none;
    border-left: none;
    border-right:none;
}

.border-bottom input[type=text]:focus{
	border-top: none;
    border-left: none;
    border-right:none;
    border-bottom:1px solid white;
}
