<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link th:href="@{/styles/css/style.css}" rel="stylesheet" />
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<meta charset="UTF-8">
<title>Допомога</title>
</head>
<body class="noselect mybody">
	<div th:insert="/nav::navbar"></div>
	<div class="container rounded mt-3 mb-5 col-6">
		<div th:each="FAQ : ${FAQs}">
			<div class="bg-container-color bg-border rounded mb-3">
				<div class="m-2 b">
					<div class="titleHelp border-bottom">
						<span class="text-danger h4" th:text="${FAQ.question}"></span>
					</div>
					<div class="answer">
						<span class="text-light h5" th:text="${FAQ.answer}"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>