<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.thymeleaf.org "
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="navbar">
	<nav class="MainMenu">
		<ul>
			<li><a href="/movies">Зараз в кіно</a></li>
			<li><a href="/soon">Скоро у прокаті</a></li>
			<li><a href="/help">Допомога</a></li>
			<li><a href="/contact">Зворотній зв'язок</a></li>
			<li sec:authorize="isAnonymous()">
				<a href="/login">Вхід</a>
				<ul class=" text-center">
				 	<li class="border"><a href="/registration">Реєстрація</a></li>
				</ul>
			</li>
			<li sec:authorize="isAuthenticated()"><a href="/profile/">Мій кабінет</a>
				<ul class=" text-center">
					<li class="border"><a href="/profile/history">Історія візитів</a></li>
					<li class="border"><a href="/profile/changePassword">Змінити пароль</a></li>
					<li class="border"><a th:href="@{/logout}">Вихід</a></li>
				</ul>
			</li>
			<li sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_ROOT')">
				<a href="/admin">Адмін панель</a>
			</li>
		</ul>
	</nav>
</div>